body {
    background: #202028;
    color: #fff;
    height: 100%;
    text-align: center;
}

#kkk {
    font-size: 75vh;
    font-family: Sans-Serif;
    line-height: 80%;
}

#usage {
    height: 5vh;
    font-family: Courier New, Courier, monospace;
    color:  #808080;
    line-height: 80%;
}