body {
    background: #202028;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    vertical-align: middle;
}

.blink_me {
    animation: blinker 1s linear infinite;
    font-size: 5vh;
    font-family: Courier New, Courier, monospace;
}

@keyframes blinker {  
    100% { opacity: 0; }
}

#kkk {
    font-size: 85vh;
    font-family: Sans-Serif;
    line-height: 80%;
    vertical-align: middle;
    text-align: center;
}

#usage {
    height: 5vh;
    font-family: Courier New, Courier, monospace;
    color:  #cccccc;
    line-height: 75%;
}